@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 768px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 0.5rem 0 0 0.5rem;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0.5rem 0.5rem 0;
}

img {
    margin-bottom: 1rem;
}

h1 {

    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 36px;
    color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.3rem;
}

a {
    background-color: hsl(0, 0%, 95%);
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    text-align: center;
    margin-top: 2rem;
}

a:hover {
    border: solid 2px hsla(0, 0%, 100%, 0.75);

}

.sedans a {
    color: hsl(31, 77%, 52%);

}

.sedans a:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);

}

.suvs a {
    color: hsl(184, 100%, 22%);

}

.suvs a:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);

}

.luxury a {
    color: hsl(179, 100%, 13%);

}

.luxury a:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);

}